/*
 * Custom translucent site header
 */

.site-header {
	background-color: #0000006e;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
	color: #8e8e8e;
	transition: color 0.15s ease-in-out;
}

.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

/*
 * Custom translucent site header
 */

.b-example-divider {
	height: 3rem;
	background-color: #0000001a;
	border: solid #00000026;
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em #0000001a, inset 0 0.125em 0.5em #00000026;
}

.form-control-dark {
	color: #fff;
	background-color: var(--bs-dark);
	border-color: var(--bs-gray);
}
.form-control-dark:focus {
	color: #fff;
	background-color: var(--bs-dark);
	border-color: #fff;
	box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}

.text-small {
	font-size: 85%;
}

.dropdown-toggle {
	outline: 0;
}
